.setup {
  margin: 0 10px;
  display: grid;
  grid-template-columns: 17em 25em auto;
  grid-template-rows: 40em;
  grid-gap: 10px;
  width: 100%;
}

.interactive {
  display: grid;
  grid-template-columns: 25em 35em auto;
  grid-template-rows: 35em;
  grid-gap: 10px;
  width: 100%;
}
/* 
.interactive > div {
  box-shadow: inset 0 0 6px #6969695b;
  border-radius: 5px;
  border: solid red;
} */

.setup div {
  max-height: 100%;
}
