.slider {
  display: grid;
  grid-template-columns: 5em auto 5em 3em;
  grid-gap: 10px
}

.slider input {
  height: auto;
  text-align: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.threshold input {
  width: 3em;
  margin: auto auto;
  background-color: white;
}

.current input {
  background-color: white;
  border-width: 0px;
}

