.setup {
  /* display: grid; */
  /* grid-template-rows: 3em auto; */
  
}

.image {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  position: relative;
}

.image img {
  /* filter: grayscale(50%); */
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.image_loading img {
  filter: grayscale(20%)
}

.overlay img {
  width: 100%; /* Full width (cover the whole page) */
  height: auto; /* Full height (cover the whole page) */
  background-color: rgba(0,0,0, 0.5);
}
