@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #fcf3f6;
}

:root {
  --primary-colour: rgb(130, 201, 248);
  --secondary-colour: rgb(208, 235, 253);
  --tertiary-colour: rgb(239, 246, 253);
}